<div class="container mt-5">
  <h2>Lista de Productos</h2>
  <div class="row mt-4">
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of listaProductos">
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.descripcion }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
